### Q-1 

### l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
### 1) arrange the list in alphabetical order 
### 2) count the total letters and count of distinct letters in the list

In [3]:
# 1.
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
(l.sort())
l

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [5]:
# 2
z=0
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
b="".join(l)
# print(b)
t=set(b)
# print(t)
x=list(t)
# print(x)
x.sort()
x
for i in x:
    print(i,b.count(i),end=",")
for j in l:
    y=len(j)
    z=z+y
print("\nTotal no. of letters=",z)

a 2,b 1,c 1,d 1,e 2,f 1,g 1,h 1,i 1,j 1,k 1,l 1,m 1,n 1,o 4,p 1,q 1,r 2,s 1,t 1,u 2,v 1,w 1,x 1,y 1,z 1,
Total no. of letters= 33

### Q-2
Take a list containg only strings. Now, take a string input from user and rearrange the elements of the list according to the number of occurence of the string taken from user in the elements of the list.
E.g.-

LIST : ["no bun","bug bun bug bun bug bug","bunny bug","buggy bug bug buggy"]



STRING TAKEN : "bug"


OUTPUT LIST:["bug bun bug bun bug bug","buggy bug bug buggy","bunny bug","no bun"]

In [24]:
l=["no bun","bug bun bug bun bug bug","bunny bug","buggy bug bug buggy"]
a=sorted(l)
print(a)

['bug bun bug bun bug bug', 'buggy bug bug buggy', 'bunny bug', 'no bun']

## Q-3 u need to lower all the characters in the given string   s = "A man, A plan, A goodman:" and remove all non-alphanumeric characters from the string and check after removing if the string is palindrome or not.

In [19]:
x=''
s = "A man, A plan, A goodman:"
l=s.lower()
print(l)
for i in l:
    if i.isalnum():
        x=x+i
print(x)
if x==x[::-1]:
    print("Palindrom:")
else:
    print("Not Palindrom:")

a man, a plan, a goodman:
amanaplanagoodman
Not Palindrom:

### Q-4

### a) wap  to remove punctuation mark from list of string using list comprehension
l=["hello'","1'2","22'4","hi how'r u"]

## b) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
Then, the output should be: 1, 9, 25, 49, 81

In [6]:
l=["hello'","1'2","22'4","hi how'r u"]
a=[i.replace("'","") for i in l]
a

['hello', '12', '224', 'hi howr u']

In [21]:
# 2
l=1,2,3,4,5,6,7,8,9
a=[i*i for i in l if i%2!=0]
a

[1, 9, 25, 49, 81]

### Q-5

### Find Longest String in List
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]

In [16]:
x=0
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]
for i in l:
    a=len(i)
    if a>x:
        b=i
        x=a
print(b)

i m doing good u tell

In [7]:
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]
print(max(l))

meet

### Q-6

### Display the characters at an odd position in string input by User.

In [8]:
x=input("Enter Any String=")
print(x[1::2])

Enter Any String=madrid
ard

### Q-7

### Extract file name in this  /document/imp/salary.txt

In [8]:
a="this /document/imp/salary.txt"
b=a.split("/")
b
s=b[3].split(".")
s[0]

'salary'

### Q-8
### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98


Then, the output should be:


['34', '67', '55', '33', '12', '98'] and ('34', '67', '55', '33', '12', '98')

In [37]:
l=[]
a=34, 67, 55, 33, 12, 98
for i in a:
    x=str(i)
    l.append(x)
print(l)
print(tuple(l))

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### Q-9

### Write a program to display second largest element of the list entered by user

In [45]:
l=[]
w=1
n=int(input("How Many Munbers Are You Enter="))
for i in range(1,n+1):
    x=int(input("Enter Element "+str(w)+" ="))
    w=w+1
    l.append(x)
a=sorted(l)
print(a)
print("Second Largest Element in the List=",a[-2])

How Many Munbers Are You Enter=5
Enter Element1=4
Enter Element2=7
Enter Element3=5
Enter Element4=8
Enter Element5=14
[4, 5, 7, 8, 14]
Second Largest Element in the List= 8

### Q-10

### Write a program to display the most, second most and least frequent word of the list

l=["abc","bac","abc","abb","abb","abb"]

In [10]:
l=["abc","bac","abc","abb","abb","abb"]
from collections import Counter
a=(Counter(l))
# print(a)
b=(sorted(a.items(),reverse=True))
# print(b)
print("Least Frequent Word=",b[0][0])
print("Second Most Frequent Word=",b[-2][0])
print("Most Frequent Word=",b[-1][0])

[('bac', 1), ('abc', 2), ('abb', 3)]
Least Frequent Word= bac
Second Most Frequent Word= abc
Most Frequent Word= abb

### Q-11
### Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]


Following are the fixed values of C and H: C is 50. H is 30.

In [4]:
from math import sqrt
d=int(input("Enter The Value Of D="))
a=(2*50*d)/30
print(sqrt(a))

Enter The Value Of D=50
12.909944487358056

### Q-12
### wap to place "hello" at even index of string.

eg: string :  "madrid"

output:    helloahellorhellod

In [63]:
n=[]
z=''
a="madrid"
l=len(a)
for i in range(6):
    if i%2!=0:
        n.append(i)
print(n)
for i in n:
    z=z+"hello"+a[i]
z

[1, 3, 5]

'helloahellorhellod'

### Q-13
## Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again

In [6]:
w=1
a=[]
n=int(input("How many words are you enter="))
for i in range(1,n+1):
    b=input("Enter Word "+str(w)+"=")
    a.append(b)
    x=' '
    a.append(x)
    w=w+1
print(a)
t=set(a)
print(t)
s=sorted(list(t))
print(s)

How many words are you enter=4
Enter Word 1=efgt
Enter Word 2=dgtr
Enter Word 3=frtr
Enter Word 4=dfvt
['efgt', ' ', 'dgtr', ' ', 'frtr', ' ', 'dfvt', ' ']
{' ', 'dfvt', 'frtr', 'efgt', 'dgtr'}
[' ', 'dfvt', 'dgtr', 'efgt', 'frtr']

In [22]:
l="a quick brown fox jumps over 1 3 4 5  the lazy dogs"
b=list(l)
s=set(b)
# print(s)
x=sorted(list(s))
print(x)
# a=l.split()
# a

[' ', '1', '3', '4', '5', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

## Q-14
#### You are required to write a program to sort the (name, age, score) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 

 
The priority is that name > age > score. 


If the following tuples are given as input to the program: 


Tom,19,80 

John,20,90 

Jony,17,91

Jony,17,93 

Json,21,85 


Then, the output of the program should be: 
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [6]:
a=[('Tom', '19', '80'),('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85')]
sorted(a)

[('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85'),
 ('Tom', '19', '80')]

## Q-15 Arrange the string such that lowercases should come first. Eg: MadrID – adrIDM

In [62]:
a="MadrID"
b=a[0]
# print(b)
d=a[1:]
# print(d)
print(d+b)

adrIDM